@model IEnumerable<Bazadanych.Models.TopicModel>

@{
    ViewData["Title"] = "ViewTopics";
}

<h1>Pending topics</h1>

<p>
    <a asp-action="CreateTopic">Create new topic!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Maininformation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Maininformation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoteStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoteEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionA.Information)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionB.Information)
                </td>
                <td>
                    @Html.ActionLink("Vote", "VoteTopic", new { id = item.VoteTopicID })
                </td>
            </tr>
        }
    </tbody>
</table>
